* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* NAVBAR!!!!! --------------------------------------*/
.myNav {
    height: 120px;
    background-color: #1f2540;
    display: flex;
    align-items: center;
    border-bottom: 8px solid #6bcbdc;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logo img {
    width: 316px;
    margin-left: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.myNavLinks {
    color: #F2F5F3;
    display: flex;
    font-family: comfortaa;
    letter-spacing: 1px;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.myNavLinks li {
    font-size: 1.3em;
    margin-right: 30px;
}

.myNavLinks li:hover {
    border-bottom: 3px solid #8E5775;
    cursor: pointer;
}


/* MASTER!!!!! --------------------------------------*/
.masterContain {
    max-width: 85%;
}

/* BANNER!!!!!-------------------------------------- */
.navButtonSection{
    display: none;
}
.banner {
    width: 100%;
    height: auto;
}

.bannerContain {
    position: relative;
}

.bannerContain img {
    margin-top: 120px;
}

.bannerWidth {
    padding: 0px;
}

.bannerText {
    position: absolute;
    bottom: 8%;
    margin-left: 50px;
    background-color: #1f2540;
    letter-spacing: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.9;
}

.bannerText h2 {
    margin-bottom: 10px;
    font-family: Oswald;
    font-weight: 600;
    color: white;
    font-size: 2em;
}

.bannerText--small {
    font-weight: 400;
}

/*WHO WE ARE --------------------------------------*/
.whoSection {
    background-color: #F2F5F3;
    position: relative;
}

.whoSection h2 {
    text-align: center;
    font-family: Oswald;
    font-weight: 600;
    color: #1f2540;
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 50px;
}

.dash {
    color: #8E5775;
}

.whoParagraphs {
    font-family: Poppins;
    color: #1f2540;
    font-size: 24px;
    padding: 50px 50px;
}

.whoBottom {
    font-family: Poppins;
    color: #1f2540;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

/*GET INVOLVED --------------------------------------*/
.involvedSection {
    background-color: #242942;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.involvedSection h2 {
    text-align: center;
    font-family: Oswald;
    font-weight: 600;
    color: #F2F5F3;
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 50px;
}

.involvedHeading {
    margin-bottom: 50px;
}

.iconImage {
    width: 100%;
    opacity: 0.3;
}

.iconContain {
    position: relative;
    margin-bottom: 50px;
}

.textOverIcon {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -170px;
}

.textOverIcon h3 {
    text-align: center;
    font-family: Poppins;
    color: #F2F5F3;
    font-size: 25px;
}

.iconInfo {
    font-family: Oswald;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
    color: #F2F5F3;
    margin-bottom: 50px;
}

/* OUR OCEAN --------------------------------------*/
.oceanSection {
    background-color: #F2F5F3;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.oceanSection h2 {
    text-align: center;
    font-family: Oswald;
    font-weight: 600;
    color: #1f2540;
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 50px;
}

.oceanHeading {
    margin-bottom: 50px;
}

.oceanText {
    font-family: poppins;
    font-size: 22px;
    color: #1f2540;
}

.oceanCard {
    border-radius: 0px;
    border: 5px solid #1f2540;
}

.oceanCardContain {
    margin-bottom: 70px;
}

.oceanCard--img {
    border-radius: 0px;
}

/* CONTACT --------------------------------------*/
.contactSection {
    background-color: #242942;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.contactSection h2 {
    text-align: center;
    font-family: Oswald;
    font-weight: 600;
    color: #F2F5F3;
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 50px;
}

.contactHeading {
    margin-bottom: 40px;
}

.contactName {
    color: #6bcbdc;
    font-size: 32px;
    font-family: Poppins;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.textBox {
    border-radius: 0px;
    background-color: #F2F5F3;
    color: #1f2540;
    border: 0px;
}

.submit {
    background-color: #8E5775;
    font-family: poppins;
    font-size: 23px;
    color: #F2F5F3;
    opacity: 0.85;
    margin-bottom: 50px;
}

.submit:hover {
    color: #F2F5F3;
    opacity: 1;
}

.deetsLeft h3 {
    color: #6bcbdc;
    font-size: 32px;
    font-family: Poppins;
    letter-spacing: 2px;
}

.deetsRight h3 {
    color: #F2F5F3;
    font-size: 32px;
    font-family: Poppins;
    letter-spacing: 2px;
}

.deetsLeft {
    margin-top: 10px;
}

.deetsRight {
    margin-bottom: 50px;
}

/* MAP */
.map {
    height: 667px;
    padding: 0px;
}

iframe {
    width: 100%;
    height: 100%;
}

/* FOOTER --------------------------------------*/
.myFooter {
    background-color: #1f2540;
    height: 80px;
    display: flex;
    align-items: center;
}

.footerLeft {
    display: flex;
    align-items: center;
}

.footerLeft img {
    height: 40px;
    margin-left: 20px;
}

.footerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerRight h2 {
    color: #F2F5F3;
    font-family: comfortaa;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-right: 20px;
}

/* HIDDEN SCROLL DIVS---------------------------- */
#hiddenWho {
    height: 119px;
    width: 20%;
    border: solid 0.1px pink;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

#hiddenGet {
    height: 119px;
    width: 20%;
    border: solid 0.1px pink;
    position: absolute;
    bottom: 0px;
    opacity: 0.0;
}

#hiddenOcean {
    height: 119px;
    width: 20%;
    border: solid 0.1px pink;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

#hiddenContact {
    height: 119px;
    width: 20%;
    border: solid 0.1px pink;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

/* media query lg---------------------------- */
@media only screen and (max-width : 768px) {
    .masterContain {
        max-width: 100%;
    }
    .logo img {
        width: 280px;
        margin-left: 20px;
    }
    .myNavLinks li {
        font-size: 0.8em;
        margin-right: 10px;
        letter-spacing: 0px;
    }
    .myNavLinks li:hover {
        border-bottom: 2px solid #8E5775;
    }
    /* --------------------------------- */
    .bannerText {
        margin-left: 35px;
        letter-spacing: 2px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .bannerText h2 {
        margin-bottom: 7px;
        font-size: 1.4em;
    }
    /* --------------------------------- */
    .whoSection h2 {
        font-size: 30px;
        letter-spacing: 4px;
        margin-top: 30px;
        margin-bottom: 1rem;
    }
    .whoParagraphs {
        padding: 20px 25px;
        margin-bottom: 0px;
    }
    .whoBottom {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 1rem;
    }
    /* --------------------------------- */
    .involvedSection {
        padding-left: 30px;
        padding-right: 30px;
    }
    .involvedSection h2 {
        font-size: 40px;
        letter-spacing: 4px;
        margin-top: 30px;
    }
    .involvedHeading {
        margin-bottom: 30px;
    }
    .iconContain {
        margin-bottom: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .textOverIcon h3 {
        width: 260px;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 20px;
        margin: 0px important!;
    }
    .iconInfo {
        font-size: 30px;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }
    /* --------------------------------- */
    .oceanSection {
        padding-left: 30px;
        padding-right: 30px;
    }
    .oceanSection h2 {
        font-size: 40px;
        letter-spacing: 5px;
        margin-top: 30px;
    }
    .oceanHeading {
        margin-bottom: 30px;
    }
    .oceanText {
        font-size: 20px;
    }
    .oceanCard {
        border: 4px solid #1f2540;
    }
    .oceanCardContain {
        margin-bottom: 40px;
    }
    /* --------------------------------- */
    .contactSection {
        padding-left: 35px;
        padding-right: 35px;
    }
    .contactSection h2 {
        font-size: 40px;
        letter-spacing: 4px;
        margin-top: 30px;
    }
    .contactHeading {
        margin-bottom: 15px;
    }
    .deetsLeft h3 {
        font-size: 25px;
    }
    .deetsRight h3 {
        font-size: 25px;
    }
    .deetsLeft {
        margin-top: 10px;
    }
    .deetsRight {
        margin-bottom: 30px;
    }
    .contactName {
        font-size: 25px;
    }
    .submit {
        font-size: 20px;
        margin-bottom: 35px;
    }
    /* --------------------------------- */
    .map {
        height: 500px;
        padding: 0px;
    }
}    
@media only screen and (max-width : 576px) {
    .logo img {
        width: 290px;
        margin-left: 5px;
    }
    .myNavLinks li {
        display: none;
    }
    /* --------------------------------- */
    .bannerContain{
        display: none;
    }
    .navButtonContain{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navButtonSection{
        display: block;
        display: relative;
        background-color: #242942;
    }
    .myBtn{
        margin-top: 150px;
        background-color: #8E5775;
        color: #F2F5F3;
        border-radius: 0px;
        font-family: comfortaa;
        font-size: 20px;
    }
    .myBtn:hover{
        background-color: #6bcbdc;
        color: #242942;
    }
    .navBtn{
        margin-top: 20px;
        background-color: #8E5775;
        color: #F2F5F3;
        border-radius: 0px;
        font-family: comfortaa;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .navBtn:hover{
        background-color: #6bcbdc;
        color: #242942; 
    }
    .textInfoContain{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textInfoContain h2 {
        font-size: 1.4em;
        color: #F2F5F3;
        font-family: oswald;
        font-size: 25px;
        letter-spacing: 2px;
    }
    .when{
        margin-top: 30px;
    }
    .where{
        margin-top: 15px;
    }
    .much{
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .textBig{
        font-weight: 600;
    }
    /* --------------------------------- */
    .whoSection h2 {
        font-size: 18px;
        letter-spacing: 0px;
        margin-top: 30px;
        margin-bottom: 1rem;
    }
    .whoParagraphs {
        padding: 15px 10px;
        margin-bottom: 0px;
    }
    .whoBottom {
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 1rem;
    }
    /* --------------------------------- */
    .involvedSection {
        padding-left: 5px;
        padding-right: 5px;
    }
    .involvedSection h2 {
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 30px;
    }
    /* --------------------------------- */
    .oceanSection {
        padding-left: 25px;
        padding-right: 25px;
    }
    .oceanSection h2 {
        font-size: 23px;
        letter-spacing: 0px;
    }
    .oceanCard {
        border: 3px solid #1f2540;
    }
    .oceanCardContain {
        margin-bottom: 20px;
    }
    /* --------------------------------- */
    .contactSection {
        padding-left: 12px;
        padding-right: 12px;
    }
    .contactSection h2 {
        font-size: 30px;
    }
    .contactHeading {
        margin-bottom: 15px;
    }
    .deetsLeft h3 {
        font-size: 23px;
    }
    .deetsRight h3 {
        font-size: 20px;
    }
    .contactName {
        font-size: 23px;
    }
    .submit {
        font-size: 17px;
        margin-bottom: 35px;
    }
    /* --------------------------------- */
    .map {
        height: 500px;
        padding: 0px;
    }
    /* --------------------------------- */
    .footerLeft img {
        height: 40px;
        margin-left: 10px;
    }
    .footerRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .footerRight h2 {
        font-size: 14px;
        letter-spacing: 0px;
        margin-bottom: 0px;
        margin-right: 5px;
    }
}
